@model GlobalKinetic_CoinJar.Models.ModelView

@{
    ViewData["Title"] = "Index";
}


<section class="content-header">
    <div class="card">
        <div class="card-header " id="headingOneItem">
            <center>
                <h2 class="mb-0">
                    <button class="btn btn-toolbar" type="button" data-toggle="collapse" data-target="#collapseOneItem" aria-expanded="true" aria-controls="collapseOneItem">
                        <h4>
                            <b >
                                Coins In System
                            </b>
                        </h4>
                    </button>
                </h2>
            </center>
        </div>
    </div>

    <hr class="line" />
</section>



<section class="content">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-12 ">

                <div class="card">
                    <div class="card-header bg-secondary">
                        <h3 class="card-title">COINS</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="Table" class="table table-bordered  table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Coin Name</th>
                                    <th>Coin Amount</th>
                                    <th>Coin Volume</th>
                                    <th>Is Active</th>
                                    
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.CoinsIE)
                                {
                                    <tr>
                                        <td class="text-right py-0 align-middle" style="width:40px;">
                                            <div class="btn-group btn-group-sm">

                                                <a href='@Url.Action("Edit", "Coins", new { id = item.ID })' class='btn btn-info btngrid'><i class="fas fa-eye"></i></a>
                                                <a href='@Url.Action("Delete", "Coins", new { id = item.ID })' class='btn btn-danger'><i class="fa-trash"></i></a>
                                            </div>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Volume)</td>
                                        @if (@item.IsActive == true)
                                        {
                                            <td><span class="badge bg-success">Yes</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge bg-secondary">No</span></td>
                                        }

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                    <div class="card-footer">
                        <hr />
                        <div class="form-group">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary" style="width:170px;">Cancel</a>
                            <a asp-action="Create" class="btn btn-info" style="width:170px;">New</a>
                        </div>

                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>


        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<script type="text/javascript">

        $(function () {

            $('#Table').DataTable({
                //"ordering": true,
                //"info": true,
                //"ordering": true,
                "responsive": true,
                "autoWidth": false,
            });

        });
</script>

